@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
    --font-family: 'Abel', sans-serif;

    --gradient-text: linear-gradient(89.97deg, #438ACB 1.84%, #34ccfc 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #438ACB -13.86%, #34ccfc 99.55%);

    --color-bg: #0e0f0f;
    --color-footer: #34ccfc;
    --color-blog: #012326;
    --color-text: #A8BBBF;
    --color-subtext: #438ACB;
}