.tuonela__header {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.tuonela__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 3rem;
    margin-left: 6rem;
}

.tuonela__header-content h1 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 70px;

    letter-spacing: -0.04em;
}

.tuonela__header-content p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;

    color: var(--color-text);
    margin-top: 1.5rem;
}

.tuonela__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tuonela__header-image img{
    width: 50%;
    height: 80%;
    margin-bottom: 3rem;
}

.tuonela__header-curve svg {
    display: block;
}

@media screen and (max-width: 1050px) {
    .tuonela__header {
        flex-direction: column;
    }

    .tuonela__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .tuonela__header h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .tuonela__header p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .tuonela__header h1 {
        font-size: 40px;
        line-height: 48px;
    }

    .tuonela__header p {
        font-size: 14px;
        line-height: 24px;
    }
}